.env
venv/
__pycache__/
*.pyc

instance/household.db
# Secrets
.env

# Python
instance/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt

# macOS
.DS_Store

# Databaset
*.db
*.sqlite3

# IDE
.vscode/
.idea/
.vercel
